Source: python-cassandra-driver
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>
Build-Depends: debhelper (>= 9), dh-python, python-setuptools, python-all (>= 2.6.6-3~), python3-setuptools, python3-all, python-sphinx
Standards-Version: 3.9.6
Vcs-Browser: https://git.openstack.org/cgit/openstack/deb-python-cassandra-driver?h=debian%2Fnewton
Vcs-Git: https://git.openstack.org/openstack/deb-python-cassandra-driver -b debian/newton
Homepage: https://github.com/datastax/python-driver

Package: python-cassandra-driver
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${python:Depends}, ${misc:Depends}
Suggests: python-cassandra-driver-doc
Description: client driver for Apache Cassandra db - Python 2.x
 This package provides a Python client driver for Apache Cassandra. This driver
 works exclusively with the Cassandra Query Language v3 (CQL3) and Cassandra's
 native protocol. Cassandra versions 1.2 through 2.1 are supported.
 .
 This package contains the Python 2.x module.

Package: python3-cassandra-driver
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${python3:Depends}, ${misc:Depends}
Suggests: python-cassandra-driver-doc
Description: Python driver for Cassandra - Python 3.x
 This package provides a Python client driver for Apache Cassandra. This driver
 works exclusively with the Cassandra Query Language v3 (CQL3) and Cassandra's
 native protocol. Cassandra versions 1.2 through 2.1 are supported.
 .
 This package contains the Python 3.x module.

Package: python-cassandra-driver-doc
Section: doc
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: Python driver for Cassandra - doc
 This package provides a Python client driver for Apache Cassandra. This driver
 works exclusively with the Cassandra Query Language v3 (CQL3) and Cassandra's
 native protocol. Cassandra versions 1.2 through 2.1 are supported.
 .
 This package contains the documentation.

